.inicio a {
  margin: 10px;
  font-size: 20px;
  width: 10%;
  border-radius: 10px;
}

.inicio img {
  border: 10px solid #000;
  border-radius: 10px;
}

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

.el-cuervo img {
  width: 20%;
  margin-bottom: 2em;
  border: 10px solid #000;
  border-radius: 10px;
}

.el-cuervo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo h1{
  text-decoration: underline;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
